<div [@routerTransition]>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
              
                <div class="align-items-center bg-info m-row--full-height" style="width:100%">
                    <span>Tìm Kiếm Thông Tin</span>
                </div>
                <br/>
                <br/>
                <!--<Primeng-TurboTable-Start>-->
                <div class="row align-items-center">
                    <div class="col-sm-4" style="background-color:lavender;">
                        <label>Mã Tài Sản</label>
                        <input type="text" value="" class="pull-right" />
                    </div>
                    <div class="col-sm-4" style="background-color:lavenderblush;">
                        <label>Mã Địa Điểm</label>
                        <input type="text" value="" class="pull-right" />
                    </div>
                    <div class="col-sm-4" style="background-color:lavender;">
                        <label>Tên Địa Điểm</label>
                        <input type="text" value="" class="pull-right" />
                    </div>

                </div>
                <br />
                <div class="row align-items-center">
                    <div class="col-sm-4" style="background-color:lavender;">
                        <label>Mã Bất Động Sản</label>
                        <input type="text" value="" class="pull-right" />
                    </div>
                    <div class="col-sm-4" style="background-color:lavenderblush;">
                        <label>Loại Bất Động Sản</label>
                        <input type="text" value="" class="pull-right" />
                    </div>
                    <div class="col-sm-4" style="background-color:lavender;">
                        <label>Trạng Thái Duyệt</label>
                        <input type="text" value="" class="pull-right" />
                    </div>

                </div>
                <br />
                <br />
                <!--<Primeng-TurboTable-End>-->
                <div class="bg-info m-row--full-height" style="width:100%">
                    <span>Danh Sách Bất Động Sản</span>
                </div>
                <br />
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Số Thứ Tự</th>
                            <th>Mã bất động sản</th>
                            <th>Nguyên giá tài sản</th>
                            <th>Loại bất động sản</th>
                            <th>Tên địa điểm</th>
                            <th>Địa chỉ</th>
                            <th>Thời hạn sử dụng</th>
                            <th>Trạng thái duyệt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>MA01</td>
                            <td>10000000000</td>
                            <td>Nhà</td>
                            <td>PGD LINH ĐÔNG</td>
                            <td>Đà Nẵng</td>
                            <td>10</td>
                            <td>Đã duyệt</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>MA02</td>
                            <td>10000000000</td>
                            <td>Nhà</td>
                            <td>PGD LINH ĐÔNG</td>
                            <td>Đà Nẵng</td>
                            <td>10</td>
                            <td>Đã duyệt</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>MA03</td>
                            <td>10000000000</td>
                            <td>Nhà</td>
                            <td>PGD LINH ĐÔNG</td>
                            <td>Đà Nẵng</td>
                            <td>10</td>
                            <td>Đã duyệt</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>MA04</td>
                            <td>10000000000</td>
                            <td>Nhà</td>
                            <td>PGD LINH ĐÔNG</td>
                            <td>Đà Nẵng</td>
                            <td>10</td>
                            <td>Đã duyệt</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>MA05</td>
                            <td>10000000000</td>
                            <td>Nhà</td>
                            <td>PGD LINH ĐÔNG</td>
                            <td>Đà Nẵng</td>
                            <td>10</td>
                            <td>Đã duyệt</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            </div>
         </div>
 </div>
